/*@font-face {
	font-family: 'Lucida Grande';
	src:url('../fonts/lucida_grande-webfont.eot?') format('eot'),
		url('../fonts/lucida_grande-webfont.woff') format('woff'),
		url('../fonts/lucida_grande-webfont.ttf') format('truetype'),
		url('../fonts/lucida_grande-webfont.svg#lucida_grande-webfont0L0TsvhT') format('svg');
}*/
/* start reset */
* { 
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
body{
	min-width:894px;
	color:#000;
	font:16px/1.186 Helvetica, Arial, sans-serif;
	background:#000;
	-webkit-text-size-adjust:none;
}
a{
	color:#694c45;
	text-decoration:underline;
}
a:hover{text-decoration:none;}
input,
textarea,
select{
	vertical-align:middle;
	color:#000;
	font:100% Helvetica, Arial, sans-serif;
}
label{vertical-align:middle;}
input[type="submit"]:hover{cursor:pointer;}
textarea{
	overflow:auto;
	-webkit-appearance:none;
}
input[type=text],
input[type=password],
input[type=submit],
input[type=file]{-webkit-appearance:none;}
input[type="image"]{padding:0;border:none;}
button,
input{
	width:auto;
	overflow:visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins{text-decoration: underline;}
s, strike, del{text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after{quotes: none;}
blockquote:before, blockquote:after, q:before, q:after{content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse:collapse;
	border-spacing:0;
}
th, td{
	padding:3px 7px;
	vertical-align:top;
	text-align:left;
	border:1px solid #ccc;
}
th{
	vertical-align:middle;
	text-align:center;
	border-color:#999;
}
ul{margin-left:1px;}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}
/* end reset */
#wrapper{
	width:100%;
	position:relative;
	overflow:hidden;
}
#header{
	width:100%;
}
#header:after,
#footer:after,
#main:after,
.reel-demo:after,
.reel-annotation:after{
	display:block;
	clear:both;
	content:"";
}
#footer{
	width:100%;
}
#main{
	width: 960px;
	margin:0 auto;
}
.reel-demo{
  width: 430px;
  height: 258px;
  margin:150px auto;
}
.reel-indicator{
  border: 1px solid #232428;
  background: url("../images/bg-scrl.png");
  box-shadow: inset 0 0 3px rgba(255,255,255,.25);
}
.reel-annotation{
  width: 12px;
  height: 12px;
  z-index: 9999;
  cursor: pointer;
}
.reel-annotation .w1{
  width: 6px;
  height: 6px;
  position: relative;
  padding: 1px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.reel-annotation:hover .w1{
  animation: reel-annotation 0.75s ease;
  -webkit-animation: reel-annotation 0.75s ease;
}
.reel-annotation:active .w1{
  animation: reel-annotation 0.75s ease;
  -webkit-animation: reel-annotation 0.75s ease;
}
.reel-annotation .w2{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  margin: -3px 0 0 -3px;
  border-radius: 50%;
  background: red;
}
.reel-annotation:hover .w2{
  animation: reel-annotation-wrap 0.75s ease;
  -webkit-animation: reel-annotation-wrap 0.75s ease;
}
.reel-annotation:active .w2{
  animation: reel-annotation-wrap 0.75s ease;
  -webkit-animation: reel-annotation-wrap 0.75s ease;
}
@keyframes reel-annotation{
  0%  {
    width: 6px;
    height: 6px;
  }
  20% {
    width: 5px;
    height: 5px;
    border-width: 3px;
  }
  40% {
    width: 7px;
    height: 7px;
    border-width: 1px;
  }
  60% {
    width: 5px;
    height: 5px;
    padding: 2px;
    border-width: 2px;
  }
  80% {
    width: 7px;
    height: 7px;
    padding: 1px;
    border-width: 1px;
  }
  100%  {
    width: 6px;
    height: 6px;
    border-width: 2;
  }
}
@-webkit-keyframes reel-annotation{
  0%  {
    width: 6px;
    height: 6px;
  }
  20% {
    width: 5px;
    height: 5px;
    border-width: 3px;
  }
  40% {
    width: 7px;
    height: 7px;
    border-width: 1px;
  }
  60% {
    width: 5px;
    height: 5px;
    padding: 2px;
    border-width: 2px;
  }
  80% {
    width: 7px;
    height: 7px;
    padding: 1px;
    border-width: 1px;
  }
  100%  {
    width: 6px;
    height: 6px;
    border-width: 2;
  }
}
@keyframes reel-annotation-wrap{
  0%  {
    width: 6px;
    height: 6px;
  }
  20% {
    width: 5px;
    height: 5px;
  }
  40% {
    width: 7px;
    height: 7px;
  }
  60% {
    width: 5px;
    height: 5px;
  }
  80% {
    width: 7px;
    height: 7px;
  }
  100%  {
    width: 6px;
    height: 6px;
  }
}
@-webkit-keyframes reel-annotation-wrap{
  0%  {
    width: 6px;
    height: 6px;
  }
  20% {
    width: 5px;
    height: 5px;
  }
  40% {
    width: 7px;
    height: 7px;
  }
  60% {
    width: 5px;
    height: 5px;
  }
  80% {
    width: 7px;
    height: 7px;
  }
  100%  {
    width: 6px;
    height: 6px;
  }
}
.drop{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 376px;
  display: none;
  padding: 12px;
  color: #fff;
  font: 12px/1.25 "Arial Narrow", Arial, sans-seris;
}
.reel-annotation:hover .drop{
  display: block;
}
#reel-img-reel{
  overflow: visible !important;
}
.drop .wrap{
  height: 150px;
  overflow: auto;
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, .5);
}
